<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
           <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">My first post (What I've enjoyed studying)</a></h2>
           <p>All lectures were pretty interesting </p>
        </div>

        <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">What I'm looking forward to next year.</a></h2>
           <p>Mainly looking forward to AI stuff</p>
        </div>
    </body>
</html>
